#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang --with golang

override_dh_auto_install:
	dh_auto_install -- --no-source
	if [ -f debian/agentlet/usr/bin/agent-go ]; then \
		mv debian/agentlet/usr/bin/agent-go debian/agentlet/usr/bin/agentlet; \
	fi
